#pointer--hand {
  position: absolute;
  width: 1.5rem;
  bottom: 0;
  left: 47%;
}

.point {
  animation: point 0.5s infinite ease-out alternate;
}

@keyframes point {
  from {
    transform: translate(-100%, 140%);
  }
  to {
    transform: translate(-100%, 110%);
  }
}
