:root {
  /* Light palette */
  --primary-color: #f7f7e6;
  --secondary-color: #0c2231;
  --dark-shadow: rgba(0, 0, 0, 0.5);
  --light-shadow: #163d57;
  --light-text: grey;
  --dark-text: black;
  --border-color: #4e5255;
  --accent-text1: #b6590d;
  --accent-text2: #e06d10;
  --accent-text3: #f4a15d;
  --keys: white;
  --tracker: rgb(233, 255, 206);
  --border-75-transparent: #d6e9f5;

  /* Dark palette */
  /* --primary-color: #0f0f0f;
  --secondary-color: #0a0a0a;
  --dark-shadow: #0f0f0f;
  --light-shadow: #0f0f0f;
  --light-text: #d6e9f5;
  --dark-text: #b3b8bb;
  --border-color: #6a7072;
  --empty-color: #18191a;
  --accent-text1: rgb(26, 96, 126);
  --accent-text2: rgb(78, 160, 78);
  --accent-text3: rgb(173, 74, 74);
  --pic-background: #0a0a0a;
  --primary-transparent: #0f0f0f;
  --border-75-transparent: #d6e9f5;
  --border-scrollbar: #5555558e;
  --shadow-scrollbar: rgba(0, 0, 0, 0.3); */
}
