.keyboard--key,
.spacebar {
  display: inline-block;
  padding: 10px;
  border: medium solid black;
  margin: 2px;
  border-radius: 5px;
  min-width: 40.5px;
  text-align: center;
  font-weight: 500;
}

.keyboard--top--row {
  position: absolute;
  top: 0;
}
.keyboard--mid--row {
  position: absolute;
  top: 34%;
  transform: translateY(-34%);
}
.keyboard--bot--row {
  position: absolute;
  top: 68%;
  transform: translateY(-68%);
}

.keyboard--container {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  min-width: 70%;
  position: relative;
}

.spacebar--row {
  position: absolute;
  bottom: 0;
  width: 15%;
}

.spacebar {
  width: 100%;
}
