.header--logo {
  position: absolute;
  left: 3%;
  top: 3%;
  height: 40px;
}

.start--typing--dark,
.start--typing {
  font-size: 1.7rem;
  font-weight: 500;
  position: absolute;
  top: 5%;
}

.start--typing--dark {
  color: white;
}

.start--typing {
  color: black;
}

#pointer--hand {
  position: absolute;
  width: 1.5rem;
  bottom: 0;
  left: 50%;
}

.point {
  animation: point 0.5s infinite ease-out alternate;
}

@keyframes point {
  from {
    transform: translate(-100%, 130%);
  }
  to {
    transform: translate(-100%, 100%);
  }
}
