.header--logo {
  position: absolute;
  left: 3%;
  top: 3%;
  height: 40px;
}

.start--typing--dark,
.start--typing {
  font-size: 1.7rem;
  font-weight: 500;
  position: absolute;
  top: 5%;
}

.start--typing--dark {
  color: white;
}

.start--typing {
  color: black;
}
