#pointer--hand {
  bottom: 0;
  left: 50%;
  position: absolute;
  transform: translate(-80%, 100%);
  width: 1.5rem;
}

.point {
  animation: point 0.5s infinite ease-out alternate;
}

@keyframes point {
  from {
    transform: translate(-80%, 130%);
  }
  to {
    transform: translate(-80%, 100%);
  }
}
