progress {
  appearance: none;
  border: none;
  height: 0.5rem;
  margin-bottom: 0.8rem;
  width: 420px;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      135deg,
      transparent,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
    /* -webkit-linear-gradient(left, #09c, #f44); */ -webkit-linear-gradient(left, var(--secondary-color), var(--lap-results));
  background-size: 35px 20px, 100% 100%, 100% 100%;
  border-radius: 3px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--keys);
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  appearance: none;
  border: none;
  height: 0.5rem;
  margin-bottom: 0.8rem;
  width: 420px;
}
