@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Caveat:wght@700&family=Gloria+Hallelujah&family=Indie+Flower&family=Patrick+Hand&family=Permanent+Marker&family=Righteous&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  /* Light palette */
  --primary-color: #f7f7e6;
  --secondary-color: rgb(252, 226, 177);
  --dark-shadow: rgba(0, 0, 0, 0.5);
  --lap-results: #f0c7b5af;
  --light-text: grey;
  --dark-text: black;
  --keys-shadow: rgba(0, 0, 0, 0.5);
  --contrast: rgb(61, 59, 56);
  --keys: white;
  --keys-text: black;
  --tracker: rgb(233, 255, 206);
  background-color: var(--primary-color);
}

.App-dark {
  /* Dark palette  */
  --primary-color: #242323;
  --secondary-color: rgb(61, 59, 56);
  --dark-shadow: black;
  --keys-shadow: black;
  --lap-results: #1a253e;
  --dark-text: #d6e9f5;
  --contrast: #f7f7e6;
  --light-text: #7d8081;
  --keys: rgb(92, 86, 86);
  --tracker: rgb(26, 27, 24);
  --keys-text: #d6e9f5;
  background-color: var(--primary-color);
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.light--toggler:hover,
.dark--toggler:hover {
  color: var(--contrast);
  background-color: var(--primary-color);
}

.dark--toggler,
.light--toggler {
  font-size: large;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  width: 36px;
  transition: ease 0.5s;
  outline: 4px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--contrast);
}

.toggler--container {
  position: absolute;
  right: 0;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 7%;
  width: 50px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: 0px 3px 7.5px var(--dark-shadow);
  background-color: var(--primary-color);
}

.small--screen--alert {
  font-size: 40px;
  text-align: center;
  position: absolute;
  font-weight: 700;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
