@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Special+Elite&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Light palette */
  --primary-color: #f7f7e6;
  --secondary-color: rgb(252, 226, 177);
  --dark-shadow: rgba(0, 0, 0, 0.5);
  --lap-results: #f0c7b5af;
  --light-text: grey;
  --dark-text: black;
  --keys-shadow: rgba(0, 0, 0, 0.5);
  --border-color: #4e5255;
  --accent-text1: #b6590d;
  --accent-text2: #e06d10;
  --accent-text3: #f4a15d;
  --keys: white;
  --keys-text: black;
  --tracker: rgb(233, 255, 206);
  --border-75-transparent: #d6e9f5;
  background-color: var(--primary-color);
  height: 100vh;
}

.App-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* Dark palette  */
  --primary-color: #242323;
  --secondary-color: rgb(61, 59, 56);
  --dark-shadow: black;
  --keys-shadow: black;
  --lap-results: #1a253e;
  --dark-text: #d6e9f5;
  --light-text: #7d8081;
  --keys: rgb(92, 86, 86);
  --tracker: rgb(26, 27, 24);
  --keys-text: #d6e9f5;
  background-color: var(--primary-color);
  height: 100vh;
}

body {
  font-family: "Roboto", sans-serif;
}

.light--toggler {
  color: white;
}

.dark--toggler,
.light--toggler {
  position: absolute;
  bottom: 8%;
  right: 11%;
  font-size: x-large;
  cursor: pointer;
}
